*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: aquamarine;
    width: 100vw;
}
#heading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
#main{
    width: 100vw;
    /* text-align: center; */
    background-color: rgb(66, 253, 250);
    border: 2px solid black;
    width: 70%;
    margin: auto;
}
#input-box form{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: auto;
}
#input-box form *{
    margin-top: 10px;
    margin-bottom: 10px;
}
#dt{
    height: 30px;
    width: 20em;
}
#btn-add{
    height: 2rem;
    width: 5rem;
    background-color: #2fba01;
    color: white;
    border: none;
    border-radius: 1rem;
}
#todo-heading{
    color: black;
    text-align: center;
}
#todos{
    border: 2px solid black;
}
.todo-item{
    text-align: center;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
 .todo-item p,h4{
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.btn-delete{
    height: 2rem;
    width: 5rem;
    background-color: #fe4218;
    color: white;
    border: none;
    border-radius: 1rem;
}